<?xml version="1.0"?>
<!--
/**
 * Solution Pioneers
 *
 * @category    SolutionPioneers
 * @package     SolutionPioneers_FreeShipping
 * @copyright   Copyright (c) Solution Pioneers (https://www.solution-pioneers.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\ShippingMethodManagement">
        <plugin name="solutionpioneers_quote_model_shipping_method_management" type="SolutionPioneers\FreeShipping\Plugin\Model\Quote\ShippingMethodManagement" disabled="false" />
    </type>
</config>